<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>代码生成器</title>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
              integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css"
              crossorigin="anonymous"/>
    </head>
<body>

<div class="container">

    <form class="form-signin" method="post" action="/v1/process/form">
        <h2 class="form-signin-heading">代码生成器参数录入</h2>

        <p>
            <input class="form-control"
                   id="output"
                   name="output"
                   value="C:\Users\X\Desktop\Za\temp"
                   placeholder="输出文件夹"
                   type="text"
                   required
                   autofocus>
        </p>

        <p>
            <input class="form-control"
                   id="onlyModelMapperAndXml"
                   name="onlyModelMapperAndXml"
                   value=false
                   placeholder="true=仅仅输出model&mapper/false=输出全部文件,控制输出文件"
                   type="text"
                   >
        </p>

        <p>
            <input class="form-control"
                   id="onlyEnableEndOfLineCommentAndDisableMultilineComment"
                   name="onlyEnableEndOfLineCommentAndDisableMultilineComment"
                   value=false
                   placeholder="true=尾行注释/false=多行注释,尾行注释或者多行注释"
                   type="text"
                   >
        </p>


        <p>
            <input class="form-control"
                   id="rootNamespace"
                   name="rootNamespace"
                   placeholder="文件包的基础路径，如：com.sun"
                   >
        </p>

        <p>
            <input class="form-control"
                   id="javaPackage"
                   name="javaPackage"
                   placeholder="javaPackage文件包的路径，如：com.sun"
                   >
        </p>


        <p>
            <input class="form-control"
                   id="modelNamespace"
                   name="modelNamespace"
                   placeholder="modelNamespace"
                   type="text"
                   >
        </p>

        <p>
            <input class="form-control"
                   id="url"
                   name="url"
                   placeholder="数据库的 url"
                   type="text"
                   >
        </p>

        <p>
            <input class="form-control"
                   id="driverClassName"
                   name="driverClassName"
                   placeholder="MySQL数据库的驱动，driver"
                   type="text"
                   >
        </p>

        <p>
            <input class="form-control"
                   id="username"
                   name="username"
                   placeholder="数据库的 username"
                   type="text"
                   >
        </p>


        <p>
            <input class="form-control"
                   id="password"
                   name="password"
                   placeholder="数据库的 password"
                   type="text"
                   >
        </p>

        <p>
            <input class="form-control"
                   id="schemaName"
                   name="schemaName"
                   placeholder="导出表所在库的库名称 "
                   type="text"
                   >
        </p>

        <p>
            <input class="form-control"
                   id="tableName"
                   name="tableName"
                   placeholder="导出表的表名称 "
                   type="text"
                   required>
        </p>

        <p>
            <input class="form-control"
                   id="tableAlias"
                   name="tableAlias"
                   placeholder="导出表指定在sql中的别名 "
                   type="text"
                   >
        </p>
        <p>
            <input class="form-control"
                   id="useCustomizeDataSourceByControllerReceived"
                   name="useCustomizeDataSourceByControllerReceived"
                   placeholder="true=使用您在此指定的数据源/false=使用默认项目配置的数据源 "
                   type="text"
                   >
        </p>


        <input name="identityType" type="hidden" value="1"/>
        <!--        <input name="_csrf" type="hidden" value="90ffee0f-a1a5-447b-80d9-0c9135a37522"/>-->
        <button class="btn btn-lg btn-primary btn-block" type="submit">生成</button>
    </form>
</div>


<hr/>
<br/>
<div>
    <h4>
        方法二的例子： POST json body to "localhost:80/v1/process/download/v3"
        body like:
    </h4>
    <h6>
        {
        "output":"C:\\Users\\X\\Desktop\\Za\\temp",
        "onlyModelMapperAndXml":false,
        "onlyEnableEndOfLineCommentAndDisableMultilineComment":false,
        "javaPackage":"com.arc",

        "rootNamespace":"com.arc",
        "modelNamespace":"com.arc.model",
        "requestNamespace":"com.arc.model.request",
        "mapperNamespace":"com.arc.mapper",
        "serviceNamespace":"com.arc.service",
        "serviceImplNamespace":"com.arc.service.impl",
        "controllerNamespace":"com.arc.controller",

        "url":"jdbc:mysql://127.0.0.1:3306/dev?useUnicode=true&characterEncoding=UTF-8&useAffectedRows=true&useSSL=false&serverTimezone=GMT%2B8",
        "driverClassName":"com.mysql.cj.jdbc.Driver",
        "username":"root",
        "password":"admin",

        "schemaName":"dev",
        "tableName":"sys_data_dictionary",
        "tableAlias":"user_",
        "useCustomizeDataSourceByControllerReceived":true

        }

    </h6>
</div>
</body>
</head></html>
